$theme-color-1: #DFD8CA;
$theme-color-2: #B91646;
$theme-color-3: #FBF3E4;
$theme-color-4: #105652;

$inverted-theme-color-1: #202735;
$inverted-theme-color-2: #46E9B9;
$inverted-theme-color-3: #040C1B;
$inverted-theme-color-4: #EFA9AD;

// $custom-bezier: cubic-bezier(.05,.89,.24,1);