@use "dropdown";
@import "variables";
@import 'bulma/css/bulma.css';

.app-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main {
    h1 {
        color: red;
    }
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: lightblue;
    height: 40px;
    display: flex;
    a {
        margin: auto 10px;
        color: blue;
    }
}
