@use "home"; //_home.scss
@use "dropdown"; //_dropdown.scss
@import "variables";
@import "bulma/css/bulma.css";

html {
  min-height: 100%;
  background-color: $theme-color-1;
  color: $inverted-theme-color-1;
}

body {
  height: 100%;
}

.app-main {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__component {
    display: flex;
    width: fit-content;
    margin: 3rem auto;
  }
}

.home-main {
  h1 {
    color: red;
  }
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: lightblue;
  height: 40px;
  display: flex;
  a {
    margin: auto 10px;
    color: blue;
    font-weight: bold;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    &:focus {
      outline-color: red;
      padding: 5px;
    }
  }
}

.about__text {
  p {
    font-weight: bold;
  }
  p:hover {
    background-color: pink;
    border: 1px dashed black;
    border-radius: 5px;
  }
}

.about__selected p {
  font-weight: bold;
  color: blue;
}

.custom-button {
  padding: 15px;
  background-color: $inverted-theme-color-1;
  color: $theme-color-1;
  font: 20px bold ;
}